@import '../globals/colors.scss';
@import '../globals/layout.scss';

.content-panel-container {
    display: grid;
    grid-column-gap: 120px;
    grid-row-gap: $separation-space;
    padding: $separation-space $side-panel-icon-font-size;
    width: 100%;
    height: calc(100vh - 2*#{$separation-space});
    overflow: auto;
    background-color: $content-panel-background;
}

@media screen and (max-width: 1529px) {
    .content-panel-container {
        grid-template-columns: $gnome-avatar-width $gnome-avatar-width $gnome-avatar-width $gnome-avatar-width $gnome-avatar-width $gnome-avatar-width;
    }
}

@media screen and (max-width: 1289px) {
    .content-panel-container {
        grid-template-columns: $gnome-avatar-width $gnome-avatar-width $gnome-avatar-width $gnome-avatar-width $gnome-avatar-width;
    }
}

@media screen and (max-width: 1079px) {
    .content-panel-container {
        grid-template-columns: $gnome-avatar-width $gnome-avatar-width $gnome-avatar-width $gnome-avatar-width;
    }
}

@media screen and (max-width: 849px) {
    .content-panel-container {
        grid-template-columns: $gnome-avatar-width $gnome-avatar-width $gnome-avatar-width;
    }
}

@media screen and (max-width: 639px) {
    .content-panel-container {
        grid-template-columns: $gnome-avatar-width $gnome-avatar-width;
    }
}

@media screen and (max-width: 399px) {
    .content-panel-container {
        grid-template-columns: $gnome-avatar-width;
    }
}

@media screen and (min-width: 1530px) {
    .content-panel-container {
        grid-template-columns: $gnome-avatar-width $gnome-avatar-width $gnome-avatar-width $gnome-avatar-width $gnome-avatar-width $gnome-avatar-width $gnome-avatar-width;
    }
}