@import '../globals/colors.scss';
@import '../globals/layout.scss';

.side-panel-container {
    height: 100vh;
    background-color: $side-panel-container-background;
    border-right: 2px solid $side-panel-container-border;

    &.side-panel-full-width {
        width: 20%;

        & + .content-panel-container {
            width: 80%;
            grid-column-gap: 80px;
        }
    }
}

.side-panel-header {
    display: flex;
    color: $font-color;
    border-bottom: 1px solid $side-panel-option-color;

    & > .side-panel-icon {
        font-size: $side-panel-icon-font-size;
        margin: $separation-space;
        cursor: pointer;
    }

    & > .side-panel-header-title {
        margin: auto;
        font-size: $side-panel-icon-font-size;
    }
}

.side-panel-content {
    overflow-y: auto;
    overflow-x: hidden;
}

.side-panel-option {
    padding: $separation-space;
    color: $font-color;
    border-bottom: 1px solid $side-panel-option-color;
    cursor: pointer;

    & > .side-panel-city-name {
        margin: 0 0 0 calc(2*#{$separation-space});
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &.selected-option {
        background-color: $side-panel-option-color;
    }
}