@import '../globals/colors.scss';
@import '../globals/layout.scss';

.filters-and-sorts {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: calc(#{$side-panel-icon-font-size} + 2*#{$separation-space});
    background-color: $side-panel-container-background;
}

.content-panel-sorts {
    display: flex;
    margin: calc(#{$separation-space}/2);
    border-radius: 10px;
    border: 1px solid $font-color;
    color: $font-color;
}

.content-panel-sort-option {
    cursor: pointer;
    padding: 0.6rem;
    border-radius: 10px;
    min-width: 50px;
    text-align: center;

    &.selected-sort {
        background-color: $side-panel-option-color;
    }
}