// SIDE PANEL
$side-panel-container-background: #24292e;
$side-panel-container-border: #3f4448;
$side-panel-option-color: #676884;

// CONTENT PANEL
$content-panel-background: #181a1f;

// SNACKBAR
$snackbar-error-background: #d32f2f;

// GENERAL
$font-color: white;