// GNOME
$gnome-avatar-width: 100px;
$gnome-name-font-size: 15px;

// GNOME DIALOG
$gnome-dialog-header-height: 64px;
$info-space-separation: 2rem;
$info-section-width: 50%;

// SIDE PANEL
$side-panel-icon-font-size: 28px;

// APP HEADER
$app-header-title-size: 32px;

// GENERAL
$separation-space: 1rem;